@import "../../index.scss";

.product-overview {
  &__filters {
    display: flex;
    align-items: center;

    height: 50px;
    border-bottom: 1px solid $divider-color;

    @include medium {
      height: 70px;
    }
  }
}
