@import "../../index.scss";

.not-found-button {
  border-color: $border-color;
  background-color: $text-color;
  color: $white;

  border-radius: 0;
  height: 42px;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }
}
